
Week 8/week 9 notes.txt
Database1/Database1.sql
*.docx
*.txt
timedassignment1/
vehicle/vehicles.sql
week 11/Normalisation_exercise.xlsx
Week 6 task/INPUT.sql
Week 6 task/MOVIE_RATING_COLOUR.sql
Week 7 Task/Week7.sql
